<div class="container">
<h3>Create new Restaurant</h3>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
    <p  class= "btn btn-primary"><%= f.button :submit %></p>
  <% end %>

  <%# <%= link_to "Back to Restaurant", restaurants_path %>
</div>
