<div class="container mt-4">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <hr>
  <h5>Reviews</h5>
  <% @restaurant.reviews.each do |review| %>
    <%= review.content %>
    <%= "⭐️" * review.rating %>
    <hr>
  <% end %>

  <%= link_to "Back to Restaurants", restaurants_path %>
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
</div>
